# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Output
dist/
build/
out/
coverage/
*.tsbuildinfo

# Next.js
.next/
next-env.d.ts

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env*
!.env.example

# Misc
.DS_Store
*.pem
.vercel
